/*bagian ini digunakan untuk memberikan pengaturan default pada seluruh tampilan di halaman web yang memanggil css ini*/
* { 
	padding:0;
	margin:0;
	font-family: Raleway;
}

/*mengatur elemen html dan body*/
html,body {
	/*min-height: 800px !important;*/
	height: auto;
	width: 100%;
	background-image: url('../images/bg.jpg');
	background-repeat: repeat;
}

/*mengatur elemen dengan id wrapper*/
#wrapper {
	min-height: 600px !important;
	height: 100%;
	width: 100%;
	background-image: url('../images/bg.jpg');
	background-repeat: repeat;
}

#boundary {
	height: 10px;
	width: 100%;
}

/*mengatur elemen dengan class register dan login*/
.login, .register {
	margin: 30px auto;
	height: auto;
	padding-bottom: 20px;
	background: white;
	box-shadow: 10px 10px 100px black;
}

/*mengatur elemen dengan class login*/
.login {
	width: 450px;
}

/*mengatur elemen dengan class login*/
.register {
	width: 800px;
}

/*mengatur elemen dengan class error-msg*/
.error-msg {
	color: red;
	font-style: italic;
}

/*mengatur elemen dengan class input yang terletak didalam elemen dengan class login atau register*/
.login .input, .register .input {
	height: 30px;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 5px;
}

/*mengatur elemen h1 yang terletak didalam elemen dengan class login atau register*/
.login h1, .register h1 {
	padding: 10px;
	text-align: center;
	background: rgb(88,86,214);
	color: white;
	font-weight: normal;
}

.register .edit-profil {
	background: rgb(0,122,255);
}

/*untuk mengatur elemen form yang terletak didalam elemen dengan class login atau register*/
.login form, .register form {
	margin-top: 30px;
	margin-left: 40px;
}

/*untuk mengatur elemen td didalam elemen dengan class register*/
.register td {
	padding: 5px;
}


/*untuk mengatur elemen dengan class button*/
.button {
	padding: 7px 10px;
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 14px;
}

/*untuk mengatur elemen dengan class btn-logout*/
.btn-logout {
	margin-top: 0px;
	background: none;
	padding: 15px 20px;
	height: 100%;
}

/*untuk mengatur elemen dengan class green*/
.green {
	background: rgb(76, 217, 100);
}

/*untuk mengatur elemen dengan class yellow*/
.red {
	background: rgb(255,59,48);
}

/*untuk mengatur elemen dengan class blue*/
.blue {
	background: rgb(0,122,255);
}

/*untuk mengatur elemen dengan id navigasi*/
#navigasi {
	height: 50px;
	width: 100%;
	background: rgb(88,86,214);
	position: fixed;
	top: 0;
}

/*untuk mengatur elemen h1 yang terletak didalam elemen dengan id navigasi*/
#navigasi h1 {
	text-align: left;
	margin-left: 65px;
	margin-top: 10px;
	font-weight: normal;
}

/*untuk mengatur elemen a didalam elemen h1 yang terletak didalam elemen dengan id navigasi*/
#navigasi h1 a { 
	text-decoration: none;
	color: white;
}

/*untuk mengatur elemen ul yang terletak didalam elemen dengan id navigasi*/
#navigasi ul {
	list-style: none;
	float: right;
}

/*untuk mengatur elemen li yang terletak didalam elemn ul yang berada didalam elemen dengan id navigasi*/
#navigasi ul li {
	display: inline-block;
}

#logo {
	height: 40px;
	width: 40px;
	position: absolute;
	margin-left: 20px;
	margin-top: -35px;
}

/*untuk mengatur elemen dengan id sidebar, sidebar-profil atau sidebar-teman*/
#sidebar, #sidebar-profil, #sidebar-teman {
	border: 1px solid rgb(0,122,255);
	background: #E6E1DF;
	height: auto;
	margin-top: 80px;
	margin-left: 5px;
	border-radius: 3px;
}

#sidebar-profil {
	background: white;
}

/*untuk mengatur elemen span yang berada didalam elemen dengan id sidebar, sidebar-profil atau sidebar-teman*/
#sidebar span, #sidebar-profil span, #sidebar-teman span {
	padding-left: 10px;
	padding: 10px;
	display: block;
	background: rgb(0,122,255);
	border-radius: 3px;
	font-size: 20px;
	color: white;
}

/*untuk mengatur elemen dengan id wrap-users yang berada didalam elemen dengan id sidebar*/
#sidebar #wrap-users {
	width: 100%;
	height: auto;
}

/*untuk mengatur elemen dengan id wrap-profil yang berada didalam elemen dengan id */
#sidebar-profil #wrap-profil {
	background: white;
	height: auto;
	width: 100%;
}

/*untuk mengatur elemen table yang berada didalam elemen dengan id wrap-profile */
#wrap-profil table {
	padding: 5px 5px;
	border-spacing: 0px;
	width: 100%;
}

/*untuk mengatur elemen td yang berada didalam elemen dengan id wrap-profile */
#wrap-profil table td {
	padding: 2px;	
}

#sidebar #wrap-users .ind-user, #sidebar-teman #wrap-teman .ind-user {
	background: #F7F5F3;
	height: 50px;
	width: 100%;
	margin-top: 1px;
}

#sidebar #wrap-users .ind-user .username, #sidebar-teman #wrap-teman .ind-user .username {
	width: 70%;
	height: 100%;
	float: left;
	line-height: 50px;
	text-indent: 15px;
	color: rgb(0,122,255);

}

#sidebar #wrap-users .ind-user .add-friend {
	width: 30%;
	margin-top: 8px;
	background: rgb(0,122,255);
	padding: 7px 5px !important;
	float:right;
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
	color: white;
}

.ind-user a {
	color: rgb(0,122,255);
	text-decoration: none;
}

#sidebar-teman  {
	margin-top: 20px;
}

#left {
	float:left;
}

#content {
	margin-top: 40px;
	float: right;
	width: 70%;
	height: 100%;
}

#wrap-post-f {
	bottom: 0;
	position: fixed;
	width: 95%;
	/*background: #E6E1DF;*/
	padding-top: 400px;
	margin-left: 20px;
	transition: 500ms ease;
	-moz-transition: 500ms ease;
	-webkit-transition: 500ms ease;
	-o-transition: 500ms ease;
}

#wrap-post-r {
	width: 95%;
	margin-top: -25%;
	/*background: #E6E1DF;*/
	margin-bottom: 150px;
	margin-left: 20px;
	transition: 500ms ease;
	-moz-transition: 500ms ease;
	-webkit-transition: 500ms ease;
	-o-transition: 500ms ease;
}

#wrap-post-f h3, #wrap-post-r h3 {
	font-weight: normal;
	margin-bottom: 10px;
	margin-left: 10px;
}

#wrap-post-f form, #wrap-post-r form {
	margin-left: 0.5%;
}

#wrap-feed {
	margin-top: 40px;
	margin-left: 20px;
	min-height: 52%;
	height: auto;
	width: 90%;
	border-radius: 3px;
	padding-bottom: 250px;
}

.feed {
	height: 80px;
	width: 99%;
	margin: 20px auto;
	background: #F7F5F3;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#wrap-feed h2 {
	margin-top: 20px;
	font-family: Raleway;
	font-weight: normal;
	display: block;
	padding: 7px;
	width: 100%;
	background: rgb(0,122,255);
	color: white;
	border-radius: 3px;
	text-indent: 20px;
}

.feed p {
	text-indent: 20px;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-post {
	margin-top: -10px;
	font-size: 16px;
	color: white;
	background: rgb(88,86,214);
	height: 100%;
	width: 15%;
	float: left;
	text-align: center;
	line-height: 70px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 1px 10px 1px #E6E1DF;
}

.post-date {
	float: right;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 13px;
}

.table {
	width: 100%;
	height: auto;
	padding: 20px;
	margin-bottom: 30px;
	/*border: 1px solid black;*/
}

.row {
	width: 100%;
	height: auto;
	clear: both;
}

.col {
	float: left;
	/*border: 1px solid black;*/
}

.col label {
	line-height: 50px;
}

.date, .radio {
	margin-top: 15px;
}

/*.col a {
	line-height: 15px;
}*/

.lg {
	width: 50%;
}

.md {
	width: 30%;
}

.sm {
	width: 10%;
}

footer {
	background: rgb(88,86,214);
	height: 100px;
	width: 100%;
	padding-top: 20px;
	bottom: 0;
}

footer p {
	text-align: center;
	line-height: 50px;
	color: white;
}

.rel {
	position: relative;
	bottom: 100px;
}

.fix {
	position: fixed;
}